<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/shehper.jpeg" width="85%" id="shehper.jpeg" />
    {% endif %}
  </a>
  <h2>Hi, I'm Ali Shehper. Welcome to my homepage. </h2>
  <div id="bio">
    <p>I am a PhD candidate in Physics at UT Austin. My advisors are Jacques Distler and Andrew Neitzke. <br>
<br>
I can be reached at <br> shehper at utexas.edu
</p>
  </div>
</nav>